Source: eht-imaging
Section: science
Priority: extra
Maintainer: KERN packaging <packaging@kernsuite.info>
Build-Depends:
 debhelper (>= 11),
 dh-python,
 python3-all,
 python3-astropy,
 python3-ephem,
 python3-future,
 python3-h5py,
 python3-ipython,
 python3-matplotlib,
 python3-numpy,
 python3-networkx,
 python3-pil.imagetk,
 python3-requests,
 python3-scipy,
 python3-setuptools,
 python3-skimage
Standards-Version: 4.6.1
Homepage: https://github.com/achael/eht-imaging
X-Python3-Version: >= 3.8

Package: python3-eht-imaging
Architecture: any
Section: python
Multi-Arch: foreign
Depends:
 ${python3:Depends},
 ${misc:Depends},
 python3-pandas,
 python3-pynfft
Provides: ${python3:Provides}
Description: Python modules for simulating and manipulating VLBI data
 and producing images with regularized maximum likelihood methods.
 This version is an early release so please submit a pull request or
 email achael@cfa.harvard.edu if you have trouble or need help for
 your application.
 .
 This package installs the library for Python 3.

Package: eht-imaging
Architecture: any
Section: python
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 python3-eht-imaging
Description: Python modules for simulating and manipulating VLBI data
 and producing images with regularized maximum likelihood methods.
 This version is an early release so please submit a pull request or
 email achael@cfa.harvard.edu if you have trouble or need help for
 your application.
